.errorDialog {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

.errorDialogTitle {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.errorDialogDescription {
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
}
