.navigationSquare {
  background-color: white;
  border-radius: 10px;
  border-bottom: 1px solid var(--color-border-default);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.05);
  }
}
