.navigationRectangle {
  background: rgba(241, 241, 244, 1);
  border-radius: 10px;
  border-bottom: 1px solid var(--color-border-default);
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: var(--color-text);
  transition: all 0.3s ease;
  height: 80px;
}
