.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.content {
  height: 0;
  overflow: hidden;
}

.open .content {
  height: auto;
}

.open .wrapper {
  opacity: 1;
  transform: translateY(0);
}

.icon {
  transition: transform 0.2s ease;
}

.open .icon {
  transform: rotate(180deg);
}
