.header {
  cursor: pointer;
  background: var(--accent-a2);
  color: var(--accent-9);
  border-radius: var(--radius-1);
}

.content {
  display: none;
}

.open .content {
  display: block;
}

.icon {
  transition: transform 0.2s ease;
}

.open .icon {
  transform: rotate(180deg);
}
