.list {
  list-style: none;
  margin: 0;
}

.sublist {
  display: none;
}

.open .sublist {
  display: flex;
}

.icon {
  transition: transform 0.2s ease;
}

.open .icon {
  transform: rotate(180deg);
}
