.navigationMenuList {
  display: flex;
  align-items: center;
  list-style: none;
  width: 100%;
  padding: 0 16px;
  height: 70px;
  background: var(--color-panel-solid);
  color: var(--color-panel-contrast);
  box-shadow: var(--shadow-2);
}

.navigationIconButton {
  cursor: pointer;
  display: flex;
  width: 24px;
  height: 24px;
}

.navigationHamburgerMenuIcon {
  width: 100%;
  height: 100%;
  color: var(--color-panel-contrast);
}

.navigationMenuItem {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: flex-start;
}

.navigationHomeMenuItem {
  border-bottom: 1px solid var(--accent-6);
}

.navigationHomeIcon {
  width: 16px;
  height: 16px;
}

.dialogContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  margin: 0;
  background: var(--color-background);
  color: var(--color-text);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  padding: 0.5rem;
  padding-top: 2rem;
  box-shadow: var(--shadow-2);
}

.dialogCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}

.navigationUserInitial {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--gray-6);
  color: var(--color-panel-solid);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
