.navigationMenuList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0 32px;
  height: 50px;
  background: var(--color-panel-solid);
  box-shadow: var(--shadow-2);
  @media (max-width: 768px) {
    padding: 0 16px;
  }
}

.navigationHamburgerMenuIcon {
  display: none;
  cursor: pointer;
  @media (max-width: 768px) {
    display: flex;
    width: 24px;
    height: 24px;
  }
}

.navigationMenuItem {
  display: flex;
  @media (max-width: 768px) {
    display: none;
  }
}

.navigationMenuItemInDialog {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.dialogContent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 4rem;
  background: var(--color-panel-solid);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dialogCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  cursor: pointer;
}
