.shiftProgress {
  position: relative;
  width: 70%;
  height: 2rem;
  background-color: var(--accent-a5);
  border-radius: var(--radius-1);
  overflow: hidden;
}

.shiftProgressFilled {
  height: 100%;
  background-color: var(--accent-9);
}

.shiftProgressLabel {
  position: absolute;
  top: 0;
  left: 0.5rem;
  line-height: 2rem;
}

.collapse {
  transition: transform 0.2s ease;
}

.expanded .collapse {
  transform: rotate(180deg);
}
